@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
       --primary-color: #CF4646;
    }
    html{
      font-size: 16px;
      background-color: #f3f3f3;
    }
    p, div {
      @apply text-base;
      @apply leading-[25px];
    }
    .container{
      margin: 0 auto;
    }
    h2{
      @apply text-6xl;
      @apply leading-[65px];
    }
    h3{
      @apply text-[28px];
      @apply leading-[32.50px];
    }
    h4{
      @apply text-lg;
      @apply leading-[22px];
    }
    #jobCats li{
      @apply text-lg;
      @apply leading-[22px];
      @apply hover:text-primary;
      @apply cursor-pointer;
    }
    #jobCats li.active{
      @apply text-primary;
    }
    nav ul{
      @apply gap-x-12;
    }
    nav ul li{
      @apply text-sm;
      @apply leading-[19px];
      @apply uppercase;
      @apply font-semibold;
      @apply hover:text-primary;
    }
    .header__inline-menu details ul{
      @apply absolute;
      @apply top-11;
      @apply bg-white;
      @apply text-black;
      @apply w-52;
      @apply border;
      @apply border-black;
      @apply border-solid;
      @apply divide-y;
      @apply divide-black;
    }
    .header__inline-menu details ul li a{
      @apply p-4;
      @apply block;
    }
    .menu-drawer{
      @apply bg-white;
    }
}
