<div class="careers">
    <div
        class="container text-center px-2 md:px-0 md:pt-[120px] md:pb-24">
        <h2 class="max-sm:text-4xl md:mb-14">{{ section.settings.careers_heading }}</h2>
    </div>
</div>

{% schema %}
  {
    "name": "careers",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "careers_heading",
            "label": "Heading",
            "default": "Open roles"
        }
    ],
    "blocks": [
        {
          "name": "Job Block",
          "type": "job_block",
          "settings": [
             {
                "type": "text",
                "id": "job_title",
                "label": "Job Title",
                "default": "Title"
             }
          ]
        }
     ], 
    "presets": [
        {
          "name": "Careers Listing"
        }
    ]
}
{% endschema %}