<div
  class="counter bg-primary">
  <div
    class="container">
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-6">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'counter_block' %}
            <div class="col text-white text-center pb-6 md:pb-14">
              <div class="counter_number text-4xl pt-6 md:pt-20 md:text-[7.625rem] md:leading-[65px]" data-target="{{ block.settings.counter_number }}">0</div>
              <h3 class="mb-2 mt-2 md:mt-9">{{ block.settings.counter_heading }}</h3>
              <p>{{ block.settings.counter_description }}</p>
            </div>
         {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const counters = document.querySelectorAll('.counter_number');
  for (let n of counters) {
    const updateCount = () => {
        const target = +n.getAttribute('data-target');
        const count = +n.innerText;
        const divider = 5000;
        const speed = 1; 
        const inc = target / divider;
        if (count < target) {
            n.innerText = Math.ceil(count + inc);
            setTimeout(updateCount, speed);
        } else {
            n.innerText = target;
        }
    };
    updateCount();
  } 
</script>

{% schema %}
  {
    "name": "counter",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "blocks": [
       {
         "name": "Counter Block",
         "type": "counter_block",
         "settings": [
           {
            "type": "number",
            "id": "counter_number",
            "label": "Number",
            "default": 20
           },{
            "type": "text",
            "id": "counter_heading",
            "label": "Heading",
            "default": "Title"
          },{
            "type": "textarea",
            "id": "counter_description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis vitae enim at scelerisque. Pellentesque gravida pretium interdum."
          }
         ]
       }
    ],    
    "presets": [
        {
          "name": "Counter"
        }
      ]
  }
{% endschema %}