/*Customizations*/
@font-face {
  font-family: "Evolventa-Bold";
  src: url('Evolventa-Bold.woff') format('woff');  
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url('NunitoSans-Regular.woff') format('woff');  
}
html,body,div,p{
  font-family: NunitoSans-Regular;
  letter-spacing: 0;
}
h1,h2,h3,h4,h5,h6, .Evolventa-Bold{
  font-family: Evolventa-Bold;
  letter-spacing: 0;
}

header form#HeaderLanguageForm {
  padding: 0;
  margin: 0;
}
form#HeaderLanguageForm button.disclosure__button {
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 14px;
  line-height: 25px;
}




.timeline .relative.items-center:before{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.timeline .relative.items-center::after {
  content: "";
  position: absolute;
  height: 1px;
  z-index: 1;
  background-color: var(--primary-color);
}
.timeline .flex-row.items-center:before {
  left: 25%;
  bottom: -18px;
}
.timeline .flex-row-reverse.items-center:before {
  left: 75%;
  top: -15px;
}
.timeline .flex-row.items-center:after {
  left: 25%;
  width: 50%;
  bottom: -14px;
}
.timeline .flex-row-reverse.items-center:after {
  left: 75%;
  width: 54%;
  top: -11px;
}
.timeline .relative.items-center:last-child:after {
  display:none;
}
@media (max-width: 768px){
  .timeline .relative.items-center::after,
  .timeline .relative.items-center::before{
    display: none;
  }
}